<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="robots" content="noindex" />
	<link rel="shortcut icon" href="../favicon.png">
    <title>Visualisation</title>
	<link rel="stylesheet" href="visualisation.css" type="text/css">
	<script src="vue.js"></script>
	<script src="axios.js"></script>
	<script src="visualisation.js"></script>
  </head>
  
  <script type="text/x-template" id="visualisation-template">
	<div id="container">
		<div v-if="appMessage != undefined">
			{{appMessage}}
		</div>
		<div v-else>
		
			<div class="interactive" style="display: inline-block;" @mouseover="groupHover = true" @mouseleave="groupHover = false">
			<div class="centered">Group</div>
			<select v-model="groupID" v-show="groupHover" class="centered">
				<option value="*">*</option>
				<option v-for="group in groups" v-bind:value="group.id">
				{{group.name}}
				</option>
			</select>
			<div v-show="!groupHover" class="centered  state">{{groupMap[groupID].name}}</div>
			</div>
			
			<div class="interactive" style="display: inline-block;" @mouseover="plotHover = true" @mouseleave="plotHover = false">
			<div class="centered">Plot</div>
			<select multiple :size="plots.length + 1 > 10 ? 10 : plots.length + 1" v-model="plotIDs" v-show="plotHover" class="centered">
				<option value="*">*</option>
				<option v-for="plot in plots" v-bind:value="plot.id">
				{{plot.id}}
				</option>
			</select>
			<div v-show="!plotHover" class="centered state">{{plotIDs[0]}}{{plotIDs.length>1 && plotIDs[0] != "*" ? " ...":""}}</div>
			</div>
			
			<div class="interactive" style="display: inline-block;" @mouseover="sensorHover = true" @mouseleave="sensorHover = false">
			<div class="centered">Parameter</div>
			<select multiple :size="sensors.length + 1 > 10 ? 10 : sensors.length + 1" v-model="sensorIDs" v-show="sensorHover" class="centered">
				<option value="*">*</option>
				<option v-for="sensor in sensors" v-bind:value="sensor.id">
				{{sensor.id}}
				</option>
			</select>
			<div v-show="!sensorHover" class="centered state">{{sensorIDs[0]}}{{sensorIDs.length>1 && sensorIDs[0] != "*" ? " ...":""}}</div>
			</div>
			
			<div class="interactive" style="display: inline-block;" @mouseover="timeframeHover = true" @mouseleave="timeframeHover = false">
				<div class="centered" v-show="!timeframeHover">Timeframe</div>
				<div v-show="timeframeHover" class="centered">
					<div style="display: inline-block;">
						<div>Year</div>
						<select v-model="timeframeYear">
							<option value="*">*</option>
							<option v-for="y in timeframeYears" v-bind:value="y">
								{{y}}
							</option>
						</select>
					</div>
					<div style="display: inline-block;">
						<div v-bind:style="{color: timeframeYear=='*'?'grey':'black'}">Month</div>
						<select v-model="timeframeMonth" :disabled="timeframeYear=='*'">
							<option value="*">*</option>
							<option v-for="m in timeframeMonths" v-bind:value="m">
								{{m}}
							</option>
						</select>
					</div>
					<div style="display: inline-block;">
						<div>Aggregation</div>
						<select v-model="aggregation">
							<option v-for="a in aggregations" v-bind:value="a">
								{{a}}
							</option>
						</select>
					</div>
				</div>			
				<div v-show="!timeframeHover" class="centered  state">{{timeframeYear!='*'?timeframeYear:'all data'}}{{timeframeYear!='*'?(timeframeMonth!='*'?' '+timeframeMonth:''):''}} by {{aggregationsText[aggregation]}}</div>
			</div>
			
			<div class="interactive" style="display: inline-block;" @mouseover="qualityHover = true" @mouseleave="qualityHover = false">
				<div class="centered">Quality</div>
				<div v-show="qualityHover">
				<select v-model="quality">
					<option v-for="q in qualities" v-bind:value="q">
					{{q}}
					</option>
				</select>
				<input type="checkbox" id="interpolated" v-model="interpolated">
				<label for="interpolated">interpolated</label>
				</div>
				<div v-show="!qualityHover" class="centered state">{{qualitiesText[quality]}}{{interpolated?" interpolated":""}}</div>
			</div>
			
			<div class="interactive" style="display: inline-block;" @mouseover="settingsHover = true" @mouseleave="settingsHover = false">
				<div class="centered">Display Settings</div>
				<div v-show="settingsHover">
					<select v-model="viewType">
						<option v-for="v in viewTypes" v-bind:value="v">
							{{v}}
						</option>
					</select>
					<div v-show="viewType=='diagram' || viewType=='boxplot'" style="display: inline-block;">
						width
						<select v-model="widthText">
							<option>auto</option>
							<option>custom</option>
						</select>
						<input v-show="widthText=='custom'" v-model="widthCustom" placeholder="width" maxlength="4" size="4" v-bind:class="{ invalid: !isValidSize(widthCustom) }">
					</div>
					<div v-show="viewType=='diagram' || viewType=='boxplot'" style="display: inline-block;">
						height
						<select v-model="heightText">
							<option v-for="text in heightTexts" v-bind:value="text">
								{{text}}
							</option>
						</select>
						<input v-show="heightText=='custom'" v-model="heightCustom" placeholder="height" maxlength="4" size="4" v-bind:class="{ invalid: !isValidSize(heightCustom) }">
					</div>
				</div>
				<div v-show="!settingsHover" class="centered  state">{{viewType}}</div>
			</div>
			
			<div v-if="display_views.length < views.length" class="invalid">
				Limited to display first {{display_views.length}} of requested {{views.length}} views to prevent browser overload.
			</div>
			
			<div v-if="viewType=='heatmap' && aggregation!='hour'" class="invalid">
				Heatmaps are based on hourly aggregated data.
			</div>
			
			<div v-if="viewType=='boxplot' && (aggregation=='raw' || aggregation=='hour')" class="invalid">
				Boxplots need day aggregated data or higher.
			</div>
			
			<div v-if="aggregation=='raw' && quality=='empirical' && viewType!='heatmap'" class="invalid">
				For raw data empirical qualitiy check is not available.
			</div>
						
			<div class="results">
				<div v-for="view in display_views" class="view">
					<div class="view_title">{{view.plot}} / {{view.sensor}}</div>					
					<img v-if="view.type=='diagram'" :src="getDiagramURL(view)" :width="view.width" :height="view.height"  alt="querying ..." onerror="this.alt='no data'"></img>
					<img v-if="view.type=='heatmap'" :src="getHeatmapURL(view)" alt="querying ..." onerror="this.alt='no data'"></img>
					<img v-if="view.type=='boxplot'" :src="getDiagramURL(view)" :width="view.width" :height="view.height"  alt="querying ..." onerror="this.alt='no data'"></img>
				</div>
			</div>
			
		</div>
	</div>
  </script>
  

  
  
  <body ondragstart="return false;" ondrop="return false;">
	<div id="app">
	<transition name="fade">
	<div v-if="appMessage != undefined">
		{{appMessage}}
	</div>
	<div v-else>
	
	<div @mouseover="projectHover = true" @mouseleave="projectHover = false" class="interactive projects">
		Project:
		<select v-model="projectID" v-show="projectHover">
			<option v-for="project in projects" v-bind:value="project.id">
			{{project.name}}
			</option>
		</select>
		<span v-show="!projectHover" class="state">{{projectMap[projectID].name}}</span>
	</div>
	
	<div><div class="caption">Climate Data Explorer</div></div>
	
	<visualisation-interface :project="projectMap[projectID]">	
	</visualisation-interface>
	
	</div>
	</transition>
	</div>
  </body>
</html>