/hs_err_pid*
/bin/

/log/
/package/
/build/
/.gradle/
/gradle-app.setting
/h2_storage/
/javadoc/
/performance_testing/

.Rproj.user
.RData
.Rhistory
/influx_caldern.yaml
/keystore.jks
/recording.jfr


/webcontent/.gradle