/hs_err_pid*
/bin/

/log/
/package/
/build/
/.gradle/
/gradle-app.setting
/h2_storage/
/javadoc/
/performance_testing/

.Rproj.user
.RData
.Rhistory
/influx_caldern.yaml
/jws.yaml
/keystore.jks
/recording.jfr
/storage
/tsdb_paths.ini


/webcontent/.gradle
/webFiles/testingyamlfile.yaml

/be_config_old/