body {
	margin: 0;
	height: 100%;
	background-color: rgb(240, 240, 240);
	width: 100%;
	font-family: Roboto,sans-serif;
}

.hide {
   visibility: hidden;
   max-height: 0px;
   overflow: hidden;
}

.just_hide {
   visibility: hidden;
}

.disable {
   visibility: hidden;
}

.caption { 
	/*margin-top: 0px;*/
	display: table;
	margin: 0 auto;
	font-size: 2.5em;
	/*font-family: serif;*/
	color: rgb(84, 84, 84);
	text-shadow: 1px 1px 2px rgb(81, 81, 81), 0 0 1em rgba(255, 255, 255, 0.2), 0 0 0.2em rgba(219, 219, 219, 0.2);
	transition: 0.5s;
}

.caption:hover {
	text-shadow: 1px 1px 2px rgba(81, 81, 81, 0.74), 0 0 1em rgba(255, 255, 255, 0.2), 0 0 0.2em rgba(219, 219, 219, 0.2);
	transition: 0.5s;	
}

.interactive {
	cursor: pointer;
	/*border-style: solid;
	border-color: #2A1B7755;
	border-width: 1px;*/
	background-color: rgba(58, 83, 225, 0.1);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 5px;
	margin: 2px;
}

.overlay_settings {
	z-index:1000;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	background-color: rgba(203, 210, 222, 0.93);
	border-radius: 5px;
	box-shadow:  0px 0px 20px 10px rgba(51, 51, 51, 0.31);
	padding: 5px;
}	

.title {
	text-decoration: underline;
}

.state {
	font-weight: bold;
}

.selected {
	background-color: rgba(96, 146, 233, 0.44);
}

.important {
	font-weight: bold;
}

.projects {
	position: absolute;
	top: 0;
	left: 0;
}

.centered {
	text-align: center;
	vertical-align: top;
}

option {
	text-align: left;
}

.results {
	background-color: rgb(255, 255, 255);
	margin-top: 7px;
}

.view {
	padding-top:5px;
}

.view_title {
	padding-left:50px;
}

.invalid {
	color: rgb(220, 20, 20);
}

.processing {
	position: fixed;
	top: 0px;
	left: 400px;
	background-color: rgba(140, 135, 130, 0.4);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 2px;
	margin: 5px;
	font-size:small;
}

progress {
  width: 100px;
  height: 10px;
}

.runtime {
	position: absolute;
	top: 20px;
	right: 10px;
	background-color: rgba(140, 135, 130, 0.1);
	/*border-radius: 5px;*/
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	padding: 2px;
	margin: 5px;
	font-size:small;
}

.message_box {
	position: absolute;
	top: 50px;
	right: 0px;
	background-color: rgba(225, 218, 212, 0.7);
	/*border-radius: 5px;*/
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	padding: 0px;
	margin: 0px;
	font-size:small;
	pointer-events: none;
}

.message_error {
	color: rgb(220, 20, 20);
}

.main_page_link_and_help {
	position: absolute;
	top: 0;
	right: 0;
}


th, td {
    padding: 8px;
}

td {
    text-align: right;
    padding: 8px;
}

.sensors td {
    text-align: left;
}

thead tr {
	background-color: rgba(87, 75, 70, 0.3);
}

tbody tr {
	background-color: rgba(132, 104, 76, 0.2);
}

tbody tr {
	background-color: rgba(132, 104, 76, 0.2);
	text-align: left;
}

tbody tr:hover {background-color: rgba(132, 104, 76, 0.4);}

tr:nth-child(even){background-color: rgba(132, 104, 76, 0.1);}





/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.help_container {
	z-index: 100;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: fixed;
	top: 0; left: 0;
	background: rgba(80, 80, 80, 0.9);	
}

.help_box {
	position: relative;
	background: #c9c9c9;
	max-height: 80%;
	max-width: 80%;
	overflow-x: scroll;
	overflow-y: scroll;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
	padding: 5px;
	margin: 2px;
}

.help_close_button {
	position: absolute;
	top: 2px;
	right: 2px;
}

.time-box-table {
	border-spacing: 0px;
	border-collapse: collapse;

}
.time-box-table tr {
	background-color: rgba(0, 0, 0, 0);
}

.time-box-table thead tr th {
	text-decoration: underline;
	font-weight: normal;
}

.time-box-table tbody tr td {
	font-weight: normal;
	text-align: center;
}

#time-from-row td:not(:first-child) {
    border-bottom:1px solid black;
}
