body {
	margin: 0;
	height: 100%;
	background-color: rgb(240, 235, 230);
	width: 100%;
	font-family: sans-serif;
}

.hide {
   visibility: hidden;
   max-height: 0px;
   overflow: hidden;
}

.just_hide {
   visibility: hidden;
}

.disable {
   visibility: hidden;
}

.caption { 
	/*margin-top: 0px;*/
	display: table;
	margin: 0 auto;
	font-size: 2.5em;
	font-family: serif;
	color: rgb(89, 71, 49);
	text-shadow: 1px 1px 2px rgb(89, 71, 49), 0 0 1em rgba(255, 162, 0, 0.2), 0 0 0.2em rgba(230, 135, 11, 0.2);
	transition: 0.5s;
}

.caption:hover {
	text-shadow: 1px 1px 2px rgb(89, 71, 49), 0 0 1em rgba(255, 162, 0, 0.6), 0 0 0.2em rgba(230, 135, 11, 0.6);
	transition: 0.5s;	
}

.interactive {
	cursor: pointer;
	/*border-style: solid;
	border-color: #2A1B7755;
	border-width: 1px;*/
	background-color: rgba(58, 83, 225, 0.1);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 5px;
	margin: 2px;
}

.overlay_settings {
	z-index:1000;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	background-color: rgba(203, 210, 222, 0.93);
	border-radius: 5px;
	box-shadow:  0px 0px 20px 10px rgba(51, 51, 51, 0.31);
	padding: 5px;
}	

.title {
	text-decoration: underline;
}

.state {
	font-weight: bold;
}

.selected {
	background-color: rgba(96, 146, 233, 0.44);
}

.important {
	font-weight: bold;
}

.projects {
	position: absolute;
	top: 0;
	left: 0;
}

.centered {
	text-align: center;
	vertical-align: top;
}

option {
	text-align: left;
}

.results {
	background-color: rgb(255, 255, 255);
	margin-top: 7px;
}

.view {
	padding-top:5px;
}

.view_title {
	padding-left:50px;
}

.invalid {
	color: rgb(220, 20, 20);
}

.processing {
	position: fixed;
	top: 0;
	right: 100px;
	background-color: rgba(140, 135, 130, 0.4);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 2px;
	margin: 5px;
	font-size:small;
}

progress {
  width: 100px;
  height: 10px;
}

.runtime {
	position: absolute;
	top: 0;
	right: 100px;
	background-color: rgba(140, 135, 130, 0.1);
	/*border-radius: 5px;*/
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	padding: 2px;
	margin: 5px;
	font-size:small;
}

.message_box {
	position: absolute;
	top: 30px;
	right: 100px;
	background-color: rgba(140, 135, 130, 0.1);
	/*border-radius: 5px;*/
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	padding: 2px;
	margin: 5px;
	font-size:small;
}

.message_error {
	color: rgb(220, 20, 20);
}

.main_page_link {
	position: absolute;
	top: 0;
	right: 0;
}


th, td {
    padding: 8px;
}

td {
    text-align: right;
    padding: 8px;
}

.sensors td {
    text-align: left;
}

thead tr {
	background-color: rgba(87, 75, 70, 0.3);
}

tbody tr {
	background-color: rgba(132, 104, 76, 0.2);
}

tbody tr {
	background-color: rgba(132, 104, 76, 0.2);
	text-align: left;
}

tbody tr:hover {background-color: rgba(132, 104, 76, 0.4);}

tr:nth-child(even){background-color: rgba(132, 104, 76, 0.1);}





/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}