<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="noindex" />
<link rel="shortcut icon" href="../favicon.png">
<link href="status.css" type="text/css" rel="stylesheet">
<script src="vue.js"></script>
<script src="Helper.js"></script>
<script src="status.js"></script>
<title>status 2</title>
</head>

<body ondragstart="return false;" ondrop="return false;">

<!-- component template -->
<script type="text/x-template" id="grid-template">
  <div style="overflow: auto; max-height: 100%;"><table>
    <thead>
      <tr>
        <th v-for="(key, index) in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{columnTitles[index]}}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <template v-for="key in columns">
			<td v-if="key=='elapsed'" v-bind:class="['column_'+key, elapsedStyle(entry.elapsed)]">{{entry.elapsed}}</td>
			<template v-else>
				<td v-if="key=='voltage'" v-bind:class="['column_'+key, voltageStyle(entry.voltage)]">{{entry.voltage}}</td>
				<template v-else>
					<td v-if="key=='message_date'" v-bind:class="['column_'+key, isOutdated(entry)?'messageOutdated':'messageCurrent']">{{entry.message_date}} {{isOutdated(entry)?'(outdated)':''}}</td>
					<template v-else>
					<td v-if="key=='message'" v-bind:class="['column_'+key, isOutdated(entry)?'messageOutdated':'messageCurrent']">{{entry.message}}</td>
					<td v-else v-bind:class="'column_'+key">{{entry[key]}}</td>
					</template>
				</template>
			</template>
		</template>
      </tr>
    </tbody>
  </table>
  <template v-if="data.length>0">
	<template v-if="filteredData.length==data.length">{{data.length}} plots</template>
	<template v-else>{{filteredData.length}} / {{data.length}} plots</template>
  </template>
  </div>
</script>

<!-- demo root element -->
<div id="statusApp" style="">
  <div v-if="appReady">
  <form action="javascript:void(0);">
	
	Project 
	<select v-model="project">
		<option v-for="project in projects" v-bind:value="project[0]">
		{{project[1]}}
		</option>
	</select>
	
	Plots
	<select v-model="plotgroup">
		<option v-for="plotgroup in plotgroups" v-bind:value="plotgroup[0]">
		{{plotgroup[1]}}
		</option>
	</select>
	
    Search <input name="query" v-model="searchQuery" placeholder="search rows">
  </form>
  <br>
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
	:column-titles="gridColumnTitles"
    :filter-key="searchQuery">
  </demo-grid>
  <div v-if="!tableReady">
	{{tableMessage}}
  </div>
  </div>
  <div v-else>
  {{appMessage}}  
  </div>
</div>



</body>

</html>