html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: rgb(255, 255, 255);
	width: 100%;
}

#app {
	height: 100%;
	width: 100%;
}

.main_page_link {
	position: absolute;
	top: 0;
	right: 0;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: grab;
}

#map:active {
	cursor: grabbing;
}

.ol-zoomslider {
	top: 38px;
	height: 160px;
}

.ol-zoom .ol-zoom-out {
    margin-top: 168px;
 }
 
 .ol-mouse-position {
	top: initial;
	bottom: 20px;
	right: 0px;
	font-size: .7rem;
}

#map_overlay {
	position: absolute;
	right: 10px;
	top: 40px;
	background-color: rgba(255, 255, 255, 0.7);
}

#map_container {
	height: 100%;
	width: 100%;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container-default {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-container-plot {
  width: 80%;
  /*height: 100%;*/
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  max-height: 400px;
  overflow: auto;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ol-dragbox {
	color: #42b983;
}
