<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="robots" content="noindex, nofollow" />
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../fonts/fonts.css" type="text/css">
  <title>Map of Plots</title>
  <link rel="stylesheet" href="ol.css" type="text/css">
	<link rel="stylesheet" href="map2.css" type="text/css">
	<script src="ol.js"></script>
	<script src="vue.min.js"></script>
	<script src="axios.min.js"></script>
	<script src="map2.js"></script>
  </head>
  
  <script type="text/x-template" id="plot-dialog-template">
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container-plot" @click.stop>

          <div class="modal-header">
              <b>{{plot.name}}</b>
			  <button class="modal-default-button" @click="$emit('close')">
                x
              </button>			  
          </div>

          <div class="modal-body">
      <!--<a :href="'../visual_plotstation_raw.html?region='+encodeURIComponent(plot.region)+'&plot='+encodeURIComponent(plot.name)" target="_blank">view climate data</a>-->
      <a :href="'../visualisation_meta/visualisation_meta.html?pinned_project='+encodeURIComponent(plot.region)+'&pinned_plot='+encodeURIComponent(plot.name)" target="_blank">view climate data</a>
			<br>
			<br>
			<table>
			<tbody>
			<tr><td>project: </td><td>{{plot.region_long_name}}</td></tr>
			<tr><td>group: </td><td>{{plot.general_long_name}}</td></tr>			
			<tr><td>position (WGS84): </td><td>{{plot.lat.toFixed(4)}}, {{plot.lon.toFixed(4)}}</td></tr>
			<tr v-if="plot.elevation !== undefined"><td>elevation: </td><td>{{plot.elevation.toFixed(0)}}</td></tr>
			</tbody>
			</table>
          </div>

          <div class="modal-footer">		  
              <button class="modal-default-button" @click="$emit('close')">
                close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </script>
  
  
  <script type="text/x-template" id="plots-dialog-template">
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container-default" @click.stop>

          <div class="modal-header">
              <b>Select Plot</b>
			  <button class="modal-default-button" @click="$emit('close')">
                x
              </button>			  
          </div>

          <div class="modal-body">
				<table>
					<tr v-for="plot in plots" @click="$emit('plot', plot)" style="cursor: pointer;">
						<td>{{plot.name}}</td>
					</tr>
				</table>
          </div>

          <div class="modal-footer">		  
              <button class="modal-default-button" @click="$emit('close')">
                close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </script>
  
  
  <body>
	<div id="app">
		<div v-if="message != undefined">
		{{message}}
		</div>
		<div id="map_container">
			<div id="map" class="map"></div>
			<div id="map_overlay">
				<template v-for="plot in hoveredPlots">
				{{plot.name}}<br>
				</template>
			</div>
		</div>		
		<plots-dialog v-if="showPlotsDialog" @close="showPlotsDialog = false" :plots="selectedPlots" @plot="viewPlot($event);">
		</plots-dialog>
		<plot-dialog v-if="showPlotDialog" @close="showPlotDialog = false" :plot="selectedPlot">
    </plot-dialog>
    <div class="control_panel" @click="control_panel_show_content = !control_panel_show_content">
      <div style="background-color: #e8e8e8;">Background map <span v-show="!control_panel_show_content">[&oline;]</span> <span v-show="control_panel_show_content">[X]</span></div>
      <div v-show="control_panel_show_content" @click.stop class="control_panel_content">
        <select v-model="backgroundMap">
          <option v-for="backgroundMap in backgroundMaps" :value="backgroundMap.id" :key="backgroundMap.id">
          {{backgroundMap.title}}
          </option>
        </select>
        <div v-if="backgroundMap !== undefined && backgroundMapPropMap[backgroundMap].type === 'XYZ'">
          <span class="key">Type: </span>
          <span class="value">{{backgroundMapPropMap[backgroundMap].type}}</span> 
          <span class="key">URL:</span> 
          <span class="value" v-show="backgroundMap !== 'CustomXYZ'">{{backgroundMapPropMap[backgroundMap].url}}</span>
          <input v-model="customXYZUrl" placeholder="XYZ source URL"  v-show="backgroundMap === 'CustomXYZ'" size="100">
        </div>
        <div v-if="backgroundMap !== undefined && backgroundMapPropMap[backgroundMap].type === 'WMS'">
          <span class="key">Type: </span>
          <span class="value">{{backgroundMapPropMap[backgroundMap].type}}</span> 
          <span class="key">URL:</span> 
          <span class="value" v-show="backgroundMap !== 'CustomWMS'">{{backgroundMapPropMap[backgroundMap].url}}</span>
          <input v-model="customWMSUrl" placeholder="WMS Capabilities URL"  v-show="backgroundMap === 'CustomWMS'" size="100">
          <div v-show="WMSMessage !== undefined">
            {{WMSMessage}}
          </div>
          <div v-if="WMSCapabilities !== undefined">
            <div v-if="WMSCapabilities.Service !== undefined">
              <div v-if="WMSCapabilities.Service.Title !== undefined"><span>Title: </span><span>{{WMSCapabilities.Service.Title}}</span></div>
              <div v-if="WMSCapabilities.Service.AccessConstraints !== undefined"><span style="font-size: smaller;">AccessConstraints: </span><span style="color: grey; font-size: smaller;">{{WMSCapabilities.Service.AccessConstraints}}</span></div>              
            </div>
            <div v-if="WMSCapabilities.Capability !== undefined">
              <span class="key">Layer: </span>
              <select v-model="WMSLayer">
                <option v-for="layer in WMSLayers" :value="layer.Name" :key="layer.Name">
                {{layer.Title}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div v-if="backgroundMap !== undefined && backgroundMapPropMap[backgroundMap].type === 'WMTS'">
          <span class="key">Type: </span>
          <span class="value">{{backgroundMapPropMap[backgroundMap].type}}</span> 
          <span class="key">URL:</span> 
          <span class="value" v-show="backgroundMap !== 'CustomWMTS'">{{backgroundMapPropMap[backgroundMap].url}}</span>
          <input v-model="customWMTSUrl" placeholder="WMTS Capabilities URL"  v-show="backgroundMap === 'CustomWMTS'" size="100">
          <div v-show="WMTSMessage !== undefined">
            {{WMTSMessage}}
          </div>
          <div v-if="WMTSCapabilities !== undefined && WMTSCapabilities.Contents !== undefined && WMTSCapabilities.Contents.Layer !== undefined">
            <span class="key">Layer: </span>
            <select v-model="WMTSLayer">
              <option v-for="layer in WMTSCapabilities.Contents.Layer" :value="layer.Identifier" :key="layer.Identifier">
              {{layer.Title}}
              </option>
            </select>
          </div>
         </div>
      </div>
    </div>
    <div class="main_page_link_and_help">
      <button @click="toggleHelp('English')"><b>[i]</b> (English)</button>
      <button @click="toggleHelp('Deutsch')"><b>[i]</b> (Deutsch)</button>
      <a href="../index.html">-->main-page</a>
    </div>


    
    <div id="help" v-if="visibleHelp === 'English'">
      <button @click="toggleHelp()" style="position: absolute; right: 10px;"><b>[x]</b> Close</button>
      <h1>Instructions</h1>
      <hr>
      The map-page shows measurement plots on a world-map.
      <br>
      <br>
      A circles with number represent the count of plots at that position.
      <br>
      When you zoom-in (use the mouse-wheel) circles with plot-names appear.
      <br><br> If you click on a circle with numbers, a box opens with contained plot-names.
      <br> Click on a plot-name to show infos about the plot.
      <br><br> If you click on a circle with plot-name, the box with plot infos opens.
    </div>
    
    <div id="help" v-if="visibleHelp === 'Deutsch'">
      <button @click="toggleHelp()" style="position: absolute; right: 10px;"><b>[x]</b> Schließen</button>
      <h1>Anleitung</h1>
      <hr>
      Diese Kartenseite zeigt Klimastationen (Plots) auf einer Weltkarte.
      <br>
      <br>
      Ein Kreis mit Zahl stellt die Anzahl der Plots an dieser Position dar.
      <br>
      Beim hineinzoomen (mit dem Mausrad) erscheinen Kreise mit Plotnamen.
      <br><br> Mit Klick auf einen Kreis mit Zahlen, öffnet sich eine Box mit den enthaltenen Plot-Namen.
      <br> Mit Klick auf einen Plot-Namen werden Informationen über den Plot angezeigt.
      <br><br> Mit Klick auf einen Kreis mit Plot-Namen öffnet sich eine Box mit Plot-Infos.
    </div>

	</div>
  </body>
</html>